body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    height: 100vh;
    background: #7f94b8;
}


/* LEFT */

.login-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-left img {
    width: 300px;
}


/* RIGHT */

.login-right {
    flex: 1;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: #333;
}


/* ROLE BUTTONS */

.role-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.role-buttons button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: #ddd;
    border-radius: 5px;
}

.role-buttons button.active {
    background: #222;
    color: white;
}


/* INPUTS */

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}


/* LOGIN BUTTON */

.login-btn {
    margin-top: 10px;
    padding: 12px;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* GOOGLE */

.google-btn {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
}


/* TEXT */

.signup {
    margin-top: 10px;
}