html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}


/* FULL SCREEN CENTER */

.login-container {
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    width: 100vw;
    height: 100vh;
    background: url('BLUR BG.jpg') no-repeat center center/cover;
}


/* CENTER BOX */

.login-center {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centers everything inside */
    text-align: center;
}


/* BUTTON GROUP */

.role-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}


/* INPUTS */

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    text-align: center;
}


/* BUTTONS */

.login-btn,
.google-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}


/* TEXT */

h2,
p,
label,
a {
    text-align: center;
}

app-root {
    display: block;
    width: 100%;
}